/* Formatted with BEM */

/* Block */

body {
  background-image: url("images/background.jpg");
  display: grid;
  grid-template-areas: 
  'left-light title right-light'
  'left-light categories-box right-light'
  'left-light game right-light'
  'players players players';
  grid-template-columns: 200px 1fr 200px;
}

/* Elements */

.categories-container {
  display: flex;
  grid-area: categories-box;
  justify-content: space-between;
}

.category-box {
  align-items: center;
  background-color: cornflowerblue;
  border-color: slateblue;
  border-radius: 5%;
  border-style: solid;
  border-width: 5px;
  color: white;
  display: flex;
  height: 50px;
  font-family: 'Heebo', sans-serif;
  justify-content: center;
  margin: 20px 20px 0px 20px;
  width: 150px;
}

.title-box {
  color: whitesmoke;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  grid-area: title;
  height: 67px;
  justify-content: center;
}

.left-light {
  grid-area: left-light;
}

.right-light {
  color: whitesmoke;
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  grid-area: right-light;
  height: 67px;
  justify-content: center;
}

.question-box-section {
  display: flex;
  grid-area: game;
  justify-content: space-between;
  position: relative;
}

.start-screen {
  align-items: center;
  background-color: darkslateblue;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 132px 0px 20px 603px;
  overflow: hidden;
  position: absolute;
  top: -100px;
  transition: 1s;
  width: 300px;
  z-index: 10;
}

.start-btn {
  align-items: center;
  background-color: seagreen;
  border-radius: 5%;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 20px;
  width: 100px;
}

.start-game {
  height: 0px;
  transition: 1s;
}

.big-screen {
  height: 0;
  left: 400px;
  position: absolute;
  top: 200px;
  transform-style: preserve-3d;
  transition: all 2s ease;
  width: 0;
}

.ask-question {
  height: 100%;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  width: 100%;
}

.question-box {
  align-items: center;
  background-color: cornflowerblue;
  border-style: solid;
  border-color: slateblue;
  border-width: 5px;
  border-radius: 5%;
  color: white;
  display: flex;
  font-family: lobster;
  height: 75px;
  justify-content: center;
  margin: 20px;
  width: 150px;
}

.players-area{
  background-color: darkslateblue;
  display: flex;
  grid-area: players;
  height: 300px;
  justify-content: space-around;
  margin-top: 163px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.big-screen-front { 
  background-image: url("images/background.jpg");
  backface-visibility: hidden;
  color: #333;
  height: 100%;
  position: absolute;
  width: 100%;
  }

.big-screen-back {
  align-items: center;
  backface-visibility: hidden;
  background-image: url("images/purple.jpg");
  color: whitesmoke;
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: 65px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transform: rotateY(180deg);
  width: 100%;
}

.round-3-big-screen {
  height: 109%;
  margin-top: -56px;
}

.stand {
  background-color: slateblue;
  height: 300px;
  position: relative;
  width: 300px;
}


.p-score {
  color: white;
  display: flex;
  font-size: 39px;
  justify-content: center;
}

.p-name {
  color: white;
  display: flex;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  justify-content: center;
}

.answer,
.wager {
  background-color: #e722b2;
  height: 85px;
  position: absolute;
  top: 0px;
  transition: 1s;
  width: 300px;
  z-index: -1;
}

.answer-btn {
  align-items: center;
  background-color: seagreen;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 103px;
}

.answer-btn:hover {
  background-color: chartreuse;
}

.player1-text {
  height: 46px;
  margin-top: 45px;
  resize: none;
  width: 191px;
}

.player2-text {
  height: 35px;
  margin-top: 45px;
  resize: none;
  width: 191px;

}

.player3-text {
  height: 35px;
  margin-top: 45px;
  resize: none;
  width: 191px;

}

.your-turn {
  top: -85px;
  transition: 1s;
}

.p-start-container {
  margin-right: 15px;
}

.start-header-container {
  color: white;
  font-size: 25px;
  margin: 6px;
}

.radio-button {
  display: none;
}

.name-input-field {
  margin: 5px 5px 5px 19px;
} 

.hide {
  display: none;
}

/* Modifiers */

.start-btn:hover {
  background-color: chartreuse;
}

.answer-btn:hover {
  background-color: chartreuse;
}
